<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whm.atelier.mapper.faq.FaqMapper">

<!-- 자주 묻는 질문 -->
	<select id="selectFaqAll" resultType="com.whm.atelier.vo.Faq">
		SELECT * FROM admin_faq ORDER BY admin_faq_no DESC
	</select>
	
	<select id="selectFaqByNo" resultType="com.whm.atelier.vo.Faq">
		SELECT * 
		FROM admin_faq 
		WHERE admin_faq_no = #{admin_faq_no}
	</select>
	
	<update id="updateFaqTitleAndContent">
		UPDATE admin_faq
		SET admin_faq_title = #{admin_faq_title} , admin_faq_content = #{admin_faq_content}
		WHERE admin_faq_no = #{admin_faq_no}		
	</update>

</mapper>